@font-face {
  font-family: "NotoSans";
  src: url("../public/fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "NotoSans-light";
  src: url("../public/fonts/NotoSansKR-Light.otf");
}

@font-face {
  font-family: "Pretendard";
  src: url("../public/fonts/Pretendard-Regular.otf");
}

@font-face {
  font-family: "PretendardMedium";
  src: url("../public/fonts/Pretendard-Medium.otf");
}


body {
  margin: 0;
}
